/* ========== General styling ======================================================= */

/* Color scheme ---------------------------------------------- */
*{
    color: rgb(65, 65, 65);
    border-color: rgb(65, 65, 65);
}

a:hover {
    color: rgb(0, 0, 0);
}

button,
#navbar div {
    background-color: rgb(0, 110, 255);
}

button:hover {
    background-color:  rgb(0, 93, 216);
}

#navbar-ad-button,
#landing-page-ad-button {
    background-color: rgb(0, 135, 0);
}

#navbar-ad-button:hover,
#landing-page-ad-button:hover {
    background-color: rgb(0, 130, 0);
}

/* HTML tags ------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Calibri', sans-serif;
    font-size: 103%;
    border: none;
    text-decoration: none;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    background: url("../images/background5.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 220%;
}

h2 {
    font-size: 180%;
}

button {
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

footer {
    padding: 10px;
}

/* ========== General styling classes =============================================== */

/* Text styling ------------------------------------------------- */

/* .header {
    font-family: 'KoHo', 'Calibri', sans-serif;
} */

.small-text {
    font-size: 85%;
}

/* Element styling ---------------------------------------------- */
.round-60 {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.padding-40 {
    padding: 40px;
}

.box-shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.white-bg {
    background-color: rgb(255, 255, 255);
}

.rounded-10 {
    border-radius: 10px;
}

.line-bottom {
    border-bottom: 1px rgb(189, 189, 189) solid;
    padding-bottom: 8px;
}

.white-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 40px;
}

/* Element placement -------------------------------------------- */
.center-parent {
    text-align: center;
}

.perfect-center-parent {
    height: inherit;
    display: grid;
}

.perfect-center-child {
    margin: auto;
}

.perfect-center-inline-flex-parent {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.float-right {
    float: right;
}

.below-navbar {
    position: relative;
}

.narrow {
    margin-left: 15%;
    margin-right: 15%;
}

/* ========== Recurring element styling ============================================= */

/* Form styling ------------------------------------------------- */
.form {
    width: 50vw;
    min-width: 250px;
}

.form-header {
    width: 100%;
    text-align: center;
}

.form-input {
    width: 100%;
    font-size: 85%;
    margin: 25px 0px;
}

.text-input {
    height: 40px;
    width: 100%;
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    box-shadow: 1px 1px 2px inset rgba(0, 0, 0, 0.1);
}

.textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .form-price {
    height: 40px;
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    box-shadow: 1px 1px 2px inset rgba(0, 0, 0, 0.1);
  }

.form-error {
    color: red;
    margin-top: 10px;
    width: 100%;
}

/* ========== Landing page ========================================================== */
#landing-page-user-box {
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px;
}

#landing-page div {
    margin: 40px 0px;
}

#landing-page-header {
    font-size: 120%;
    letter-spacing: 15px;
}

#landing-page div form * {
    margin: 0px 5px;
}

#landing-page-search-bar {
    height: 60px;
    width: 50vw;
    min-width: 250px;
    padding: 15px;
}

#landing-page-ad-button {
    height: 100px;
    width: 200px;
    font-size: 130%;
}

/* ========== Navbar ================================================================ */
#navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    border-spacing: 20px;
}

#navbar * {
    color: white;
}

#navbar div {
    margin: 10px;
    padding: 10px;
    display: table-cell;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#navbar div a {
    color: rgb(250, 250, 250);
}

#navbar div a:hover {
    color: rgb(255, 255, 255);
}

/* =========== Ad list ============================================================= */
.adlist-item {
    margin: 0px 20% 20px 20%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.adlist-item:hover {
    transform: scale(1.03, 1.03);
}

/* ========== Ad details ========================================================== */
#ad-details-header {
    display: flex;
    align-items: baseline;
}

#ad-details-user {
    margin-left: auto;
}

#ad-details-description {
    margin: 20px 0px;
    background-color: rgb(241, 247, 255);
    padding: 10px;
}